
@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:500');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em ;
  background-color: #CFCFCF;
}

.fontLobster, h2, h4 {
  font-family: 'Lobster',cursive;
}

.fontLobster {
  font-size : 1.5em ;
}

h2 {
  font-size : 2em ;
}


.titre{
  background-color: #B6B6B5;
  text-align: center;
}

.bio{
  text-align: justify;
}

.cacher{
  list-style-type: none;
}

td[colspan="2"]{
  text-align: center;
}

.bouton{
  text-align: center;
}

.album{
  padding-left: 20%;
}

.well{
  background-color: #CCC;
  padding: 20px;
}

.groupe{
  text-align: center;
  width: 100%;
}